.search-icon{
    width: 24px;
    padding-right:20px;
    color: white;
}
.search-bar{
    display: flex;
    margin: 30px;
    flex-direction: row;
    position: relative;
    left: -12px;
    // background-color: grey;
    
}
.search-field{
    font-size: 24px;
}